{{define "admin"}}
{{template "header" .HeaderData}}

<div class="pool-overview pt-4 pb-3 mb-3">
    <div class="container">


        <div class="d-flex flex-wrap">
            <h1 class="mr-auto text-nowrap">Admin Panel</h1>
            
            <div class="row mr-1">
                {{ if .BackupAvailable }}
                <form class="p-2" action="/backup" method="post">
                    {{.HeaderData.CSRF}}
                    <button type="submit" class="btn btn-primary btn-small">Backup</button>
                </form>
                {{ end }}
                <form class="p-2" action="/logout" method="post">
                    {{.HeaderData.CSRF}}
                    <button type="submit" class="btn btn-primary btn-small">Logout</button>
                </form>
            </div>
        </div>
            
        {{template "pool-stats" .PoolStatsData}}

    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-12 p-3">
            <div class="block__content">
                <h1>All Connected Miners ({{ .ClientCount }}) </h1>
                <div class="overflow-auto">
                    <table class="table">
                        <tr>
                            <th>Account</th>
                            <th>IP</th>
                            <th>Miner</th>
                            <th>Hash Rate (10 min avg)</th>
                            <th></th>
                        </tr>
                        {{$csrf := .HeaderData.CSRF}}
                        {{range $accountID, $clients := .ConnectedClients}}
                        {{range $client := $clients}}
                        <tr>
                            <td><span class="dcr-label">{{$accountID}}</span></td>
                            <td>{{$client.IP}}</td>
                            <td>{{$client.Miner}}</td>
                            <td>{{$client.HashRate}}</td>
                            <td>
                                <form action="/reboot" method="post" id="reboot{{$client.IP}}">
                                    {{$csrf}}
                                    <input type="hidden" name="ip" value="{{$client.IP}}">
                                    <button class="btn btn-primary btn-small" onclick="$('reboot{{$client.IP}}').submit();$('#reboot-modal').modal();">Reboot</button>
                                </form>
                            </td>
                        </tr>
                        {{end}}
                        {{else}}
                        <tr>
                            <td colspan="100%"><span class="no-data">No miners connected</span></td>
                        </tr>
                        {{end}}
                    </table>
                </div>
            </div>
        </div>

    </div>

    {{template "payments" . }}

</div>

<div class="modal fade" id="reboot-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Reboot</h1>
                <button type="button" class="modal-close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>A reboot request has been submitted.</p>
            </div>
        </div>
    </div>
</div>

<script src='/assets/js/socket.js'></script>
<script src='/assets/js/admin-pagination.js'></script>

</body>
</html>
{{end}}
